<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="./client/style.css" type="text/css">
    <title>CocoTranscript</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-s">
                <h1 class="text-center mt-5">Upload Files</h1>
                <form method="POST" action="/upload" enctype="multipart/form-data">
                    <div class="text-center">
                        <%= typeof msg != 'undefined' ? msg : '' %>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Link to file">
                    </div>
                    <div class="form-group upload-area">
                        <input type="file" name="files" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
                <hr>
                <div id="audio-img">
                        <img class="cover">
                    </div>
                    <div id="audio-player">
                        <div id="audio-info">
                            <span class="artist"></span> - <span class="title"></span>
                        </div>
                        <input id="volume" type="range" min="0" max="10" value="5">
                        <br>
                        <div id="audio-controls">
                            <button id="prev">Prev</button>
                            <button id="play" onclick="play()">Play</button>
                            <button id="pause">Pause</button>
                            <button id="stop">Stop</button>
                            <button id="next">Next</button>
                            <button id="loop">Loop</button>
                        </div>
                        <div class="clearfix"></div>
                        <div id="tracker">
                            <div id="progressbar">
                                <span id="progress"></span>
                            </div>
                            <span id="duration"></span>
                        </div>
                        <div class="clearfix"></div>
                    
                <hr>
                <% if(files){ %>
                <ul class="list-group" id="playlist">
                    <% files.forEach(function(file) { %>
                    <li song="<%= file %>" class="list-group-item">
                        <div class="row">
                                <audio controls src=<%='./uploads/' + file %>>
                            <span class="task-title-sp"><%= file %></span></audio>
                            <div class="pull-right hidden-phone">
                                <a href="/delete/<%= file %>"><button class="btn btn-danger btn-xs">x</i></button></a>
                            </div>            <script>
                file_to_play.onchange = function () {
                    var files = this.files;
                    var file = URL.createObjectURL(files[0]);
                    player.src = file;
                    player.play();
                };
            </script>

                        </div>

                    </li>
                    <% }) %> </ul></div>
                <% } else { %>
                <p>No files to show</p>
                <% } %>
            </div>
            <!-- <div class="col"></div> -->
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="./js/player.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</body>

</html>